@page "/appartments"
@using System.ComponentModel.DataAnnotations;
@using System.Net.Http.Json
@using GreenHouse.HttpModels.Responses;
@inherits AppComponentBase

<PageTitle>Квартиры</PageTitle>


@if(Appartments is not null)
{
    <MudTable Items="@Appartments" 
              Hover="true" 
              Breakpoint="Breakpoint.Sm" 
              Loading="@_loading" 
              LoadingProgressColor="Color.Info"
              Filter="new Func<AppartmentResponse,bool>(FilterFunc)">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Квартиры</MudText>
            <MudSpacer />
            @if (Cities is not null)
            {
                <MudSelect T="string"
                   @bind-Value="SelectedCity"
                   Variant="Variant.Outlined"
                   Label="Город"
                   AnchorOrigin="Origin.BottomCenter"
                   Adornment="Adornment.End"
                   AdornmentIcon="@Icons.Material.Filled.LocationCity"
                   IconSize="Size.Small"
                   AdornmentColor="Color.Primary"
                   Required="true"
                   RequiredError="Город является обязательным!"
                   Style="margin:5px;"
                   Class="mt-0">

                    @foreach (CityResponse city in Cities)
                    {
                        <MudSelectItem Value="@(city.Id.ToString())">@city.Name</MudSelectItem>
                    }
                </MudSelect>
            }
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Адрес</MudTh>
            <MudTh>Число гостей</MudTh>
            <MudTh>Число комнат</MudTh>
            <MudTh>Число спальных мест</MudTh>
            <MudTh>Площадь</MudTh>
            <MudTh>Залог</MudTh>
            <MudTh>Цена</MudTh>
            <MudTh></MudTh>
            <MudTh></MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Адрес">@context.Location</MudTd>
            <MudTd DataLabel="Число гостей">@context.NumberOfGuests</MudTd>
            <MudTd DataLabel="Число комнат">@context.NumberOfRooms</MudTd>
            <MudTd DataLabel="Число спальных мест">@context.NumberOfSlippingPlaces</MudTd>
            <MudTd DataLabel="Площадь">@context.Square</MudTd>
            <MudTd DataLabel="Залог">@context.Bail</MudTd>
            <MudTd DataLabel="Цена">@context.Price</MudTd>
            <MudTd><MudIconButton Icon="@Icons.Material.Filled.Photo" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" OnClick="(() => ShowImgInfo(context))" /></MudTd>
            <MudTd><MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Medium" OnClick="(() => EditApartment(context))" /></MudTd>
            <MudTd><MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Medium" OnClick="(() => RemoveApartment(context.Id))"/></MudTd>
        </RowTemplate>
        <ChildRowContent>
           <MudTr>
                @if (selectedItem == context)
                {
                    <td colspan="9">
                        <MudCard Elevation="0">
                            <MudCardContent>
                                <div style="display: flex; margin:5px; flex-wrap:wrap">
                                    @foreach (var img in context.Photos)
                                    {
                                        <MudImage Src=@(State.Host + "Images/appartments/" + img) Alt="not found" Elevation="25" Class="rounded-lg" Style="width:auto; height:100px; margin:10px; display:inline-block" />
                                    }                        
                                </div>
                            </MudCardContent>
                       </MudCard>
                   </td>
               }
           </MudTr>
        </ChildRowContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}