@page "/appartments"
@using System.ComponentModel.DataAnnotations;
@using System.Net.Http.Json
@using GreenHouse.HttpModels.Responses;
@inherits AppComponentBase

<PageTitle>Квартиры</PageTitle>

@if(Appartments is not null)
{
    <MudTable Items="@Appartments" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Адрес</MudTh>
            <MudTh>Число гостей</MudTh>
            <MudTh>Число комнат</MudTh>
            <MudTh>Число спальных мест</MudTh>
            <MudTh>Площадь</MudTh>
            <MudTh>Залог</MudTh>
            <MudTh>Цена</MudTh>
            <MudTh></MudTh>
            <MudTh></MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Адрес">@context.Location</MudTd>
            <MudTd DataLabel="Число гостей">@context.NumberOfGuests</MudTd>
            <MudTd DataLabel="Число комнат">@context.NumberOfRooms</MudTd>
            <MudTd DataLabel="Число спальных мест">@context.NumberOfSlippingPlaces</MudTd>
            <MudTd DataLabel="Площадь">@context.Square</MudTd>
            <MudTd DataLabel="Залог">@context.Bail</MudTd>
            <MudTd DataLabel="Цена">@context.Price</MudTd>
            <MudTd><MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="(() => RemoveApartment(context))">Показать фото</MudButton></MudTd>
            <MudTd><MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="(() => RemoveApartment(context))">Редактировать</MudButton></MudTd>
            <MudTd><MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="(() => RemoveApartment(context))">Удалить</MudButton></MudTd>
        </RowTemplate>
        <ChildRowContent>
            <div style="display: flex; margin:5px;">
                @foreach (var photo in context.Photos)
                {
                    <MudImage Src=@photo Alt="not found" Elevation="25" Class="rounded-lg" Style="width:100%; height:auto; margin-bottom:10px;" />
                }
            </div>
        </ChildRowContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}